PORT=5000,4000
NODE_ENV=development

# MongoDB Atlas connection string
MONGODB_URI=mongodb://127.0.0.1:27017/biblioteca_usac


# Nivel 1 de seguridad: clave que debe enviarse en el header x-portal-key
PORTAL_ACCESS_KEY=aaaa

# Nivel 2 de seguridad: JWT
JWT_SECRET=cambia-este-secreto
JWT_EXPIRES_IN=24h

# URL base del frontend, usada para construir el invitationLink
FRONTEND_URL=http://localhost:5173

# Bootstrap del primer Manager (scripts/seed.js)
BOOTSTRAP_INVITE_TOKEN=cambia-este-token-de-invitacion
BOOTSTRAP_MANAGER_EMAIL=andersonpracticas@gmail.com



SMTP_USER=andersonpracticas@gmail.com
SMTP_PASS=qbmplphzaqeyqsh
SMTP_FROM_NAME=Biblioteca Facultad de Derecho USAC
SMTP_FROM_EMAIL=andersonpracticas@gmail.com